ardour8
audacity
autostart
baloofileinformationrc
baloofilerc
bluedevilglobalrc
byobu
dconf
discoverrc
fontconfig
glib-2.0
go
handlr
home-manager
htop
kactivitymanagerdrc
kactivitymanagerd-statsrc
kak
KDE
lapce-stable
libaccounts-glib
libreoffice
lnav
menus
mimeapps.list
mpv
Multiic
NakstAudioPlugins.ini
nautilus
nekoray
nemo
nixpkgs
pavucontrol.ini
powerdevilrc
powermanagementprofilesrc
procps
pulse
pupgui
qBittorrent
QtProject.conf
rucola
session
smplayer
torbrowser
trashrc
Trolltech.conf
unity3d
user-dirs.dirs
user-dirs.locale
v2raya
V2Ray-Desktop
vifm
vlc
wireshark
xsettingsd
yay
